@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

html,
body {
  height: 4000px;
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
}

.gradient {
  background: rgb(12, 123, 147);
  background: linear-gradient(90deg, rgba(12, 123, 147, 1) 0%, rgba(39, 73, 109, 1) 50%, rgba(20, 40, 80, 1) 100%);
}

#navigasi {
  background-color: #0d1a8d;
  font-size: 20px;
}

#logo {
  width: 3rem;
  height: 3rem;
}

.page-header {
  padding-top: 8rem;
}

.fitur {
  padding-top: 8rem;
}

.features ul {
  padding-left: 2rem;
  list-style-type: none;
}

.features ul li {
  padding-left: 2rem;
  background-image: url(img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
